* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 6;
}

// Colors
$azulOscuro: #112e51;
$AzulMedio: #205493;
$AzulClaro: #0071bc;
$text: #212121;

.footer{
    width: 100%;

}

.container{
    width: 100vw;
    // height: 9vh; 
    bottom: 0px;
    margin-bottom: 0px;
    background-color: $AzulMedio;
    position: fixed;
 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    // display: flex;
    // margin: 0%;
    // padding: 0%;
    // // flex-flow: row nowrap;
    // // flex-wrap: nowrap;
    // flex-flow: row wrap;
    justify-content: space-around;
    // align-items: center;


    .imagen{
        // position: relative;
        // margin: auto;
        width: 10%;
        height:10%;
        // background-color: green;
        // flex-flow: row wrap;
        margin: 4%;
        margin-top:2%;
        margin-bottom: 2% ;
        // margin-left: 15px;
    }

    .footer-item{
        // background-color: honeydew;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }


}
        