<app-navigation-bar></app-navigation-bar>

<!-- <script src="../dist/epub.js"></script>
<script src="js/reader.js"></script> -->
<div class="name">{{name}}</div>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer position="end" #drawer class="chat" mode="side">
        <button type="button" mat-button (click)="drawer.close()">Go to book</button>
        <app-book-chat *ngFor="let msg of msgs" [msg]="msg"></app-book-chat>
        
        <textarea id="msgID" [formControl]="msgForm" type="text" class="inputMSG"></textarea>
        <button (click)="sendMsg()" type="submit" class="button is-info" style="padding: 5px;">Postear
            mensaje</button>

    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" *ngIf="isGroup" mat-button (click)="drawer.toggle()">Go to chat</button>

        <div class="epubContainer" style="height: 500px; width: 80%;">
            <angular-epub-viewer padding="10px" #epubViewer></angular-epub-viewer>
        </div>
        
        <button (click)="epubViewer.goTo(this.pag)">Continuar Leyendo</button>
        <button (click)="previousPage()">Previous page</button>
        <button (click)="nextPage()">Next page</button>
       

    </div>



</mat-drawer-container>

<app-footer></app-footer>