<app-navigation-bar></app-navigation-bar>




<div class="container">
  <div style="margin-top: 65px; margin-bottom: -21px;"><input class="searchBar" id="form1" type="search" name="searchBoxHome" placeholder="Buscar"
    [(ngModel)]="searchBoxHome" /></div>

  <div style=" margin-bottom: 3px; display: flex; justify-content: right; width: 100%;">
    <select (change)="getBooksByTag()" [(ngModel)]="tag">
      <option value="All" selected>Todos</option>
      <option *ngFor="let tag of tagsList" [value]="tag">{{tag}}</option>
    </select>
  </div>
  
  <div *ngFor="let book of macthRecomended | filter: searchBoxHome; let i = index">
    <img id="{{ 'imagen' + i }}" [src]="book.Portada" alt="imagenes" class="bookImg" />
    
    <div class="cuerpoText">
      <h1 id="{{ 'titulo' + i }}" align="center">{{ book.Title }}</h1>
      <h2 id="{{ 'autor' + i }}" align="center">{{ book.Autor }}</h2>

      <div class="contenedorStars">
        <!-- <img class="stars" style="width: 50%" src="../../../../assets/img/stars.png" alt="" /> -->
        <label class="rating-label">Puntaje Promedio: {{book.Stars}}
          <input class="rating" max="5" readonly step="0.01" style=" --fill:#feca57;--value:{{book.Stars}}" type="range"
            value="{{book.Stars}}">
        </label>
      </div>
      

      <div class="descripcion">
        <p>{{ book.Descripcion }}</p>
      </div>

      <div class="btnContainer">
        <button class="button is-info" id="{{ 'button-' + i }}" (click)="addBookToUser(i)"
          style="width: 45%">
          Añadir a mi lista
        </button>
        <button *ngIf="booksListGroup.length != 0" class="button is-info" id="{{ 'buttonGroup-' + i }}" (click)="activateSelect(i)" style="width: 50%; margin-left: 5px;">
          Añadir a mi grupo
        </button>
        <div style="margin-top:10px; display: none;" [id]="'activateGroupSelect'+i">
          <select (change)="addBookToGroup(i)"  [(ngModel)]="groupValue"> 
            <option value="" disabled selected>Seleccione su grupo</option>
            <option *ngFor="let groups of booksListGroup"  [ngValue]="groups">{{groups}}</option>
          </select>
        </div>
        
        <button class="button is-info" style="width: 55%; margin-top: 5px;" (click)="activateComent(i)">Añadir Comentario</button>
        <div style="display: none;"  [id]="'activateComentInput'+i">
          <input  style=" margin-top: 5px;"  type="text" placeholder="Escriba su comentario" [(ngModel)]="comentario">
          <button class="button is-info" style=" margin-top: 5px; margin-left: 2px;  width: 25%; height: 10%;" (click)="sendComentario(book.Title,i)">Enviar</button>
        </div>
      </div>


      <!-- COMENTARIOS -->

      <label style="color: #205493; font-weight: bold; font-size: medium; font-family: Helvetica; margin-top: 15px;">Comentarios</label>
      <div *ngFor="let bookComent of bookComents">
        <div *ngIf="bookComent.Title == book.Title">
          
            <div class="comentario">
              <img class="commentPhoto" [src]="bookComent.Images" alt="">
              <div><label (click)="goToPerfil(bookComent.User)" class="user">{{ bookComent.name }}</label><br/>
                <label class="commentText">{{ bookComent.Comment }}</label></div>
              
            </div>
          
        </div>
      </div>
      

      
    </div>

  </div>
</div>

<app-footer></app-footer>