<app-navigation-bar></app-navigation-bar>

<input class="searchBar" id="form1" type="search" name="searchBoxHome" placeholder="Buscar"
  [(ngModel)]="searchBoxHome" />

<div class="container">
  <div *ngFor="let book of macthRecomended | filter: searchBoxHome; let i = index">
    <img id="{{ 'imagen' + i }}" [src]="book.Portada" alt="imagenes" class="bookImg" />
    
    <div class="cuerpoText">
      <h1 id="{{ 'titulo' + i }}" align="center">{{ book.Title }}</h1>
      <h2 id="{{ 'autor' + i }}" align="center">{{ book.Autor }}</h2>

      <div class="contenedorStars">
        <img class="stars" style="width: 50%" src="../../../../assets/img/stars.png" alt="" />
      </div>
      

      <div class="descripcion">
        <p>{{ book.Descripcion }}</p>
      </div>

      <div class="btnContainer">
        <button class="button is-info" style="margin-right: 10px; width: 25%">
          Leer
        </button>
        <button class="button is-info" id="{{ 'button-' + i }}" (click)="addBookToUser('button-' + i)"
          style="width: 50%">
          Agregar a mi lista
        </button>
        <button *ngIf="groupList.length != 0" class="button is-info" id="{{ 'buttonGroup-' + i }}" (click)="activateSelect()" style="width: 50%">
          Agregar a mi grupo
        </button>
        <div *ngIf="activate == true">
          <select (change)="addBookToGroup('buttonGroup-' + i)" id="">
            <option value="" disabled selected>Seleccione su grupo</option>
            <option *ngFor="let groups of groupList"  value="groups">{{groups}}</option>
          </select>
        </div>        
      </div>

      <div *ngFor="let bookComent of bookComents">
        <div *ngIf="bookComent.Title == book.Title">
          <label style="color: #205493; font-weight: bold; font-size: medium; font-family: Helvetica;">Comentarios</label>
          <div class="comentarios">
            <div class="comentario">
              <img class="commentPhoto" [src]="bookComent.Images" alt="">
              <label class="user">{{ bookComent.name }}</label><br />
              <label class="commentText">{{ bookComent.Comment }}</label>
            </div>
          </div>
        </div>
      </div>
      
      <button (click)="activateComent()">Agregar comentario</button>
      <div *ngIf="activateComentD == true">
        <input type="text" placeholder="Escriba su comentario" [(ngModel)]="comentario">
        <button (click)="sendComentario(book.Title)">Enviar</button>
      </div>
      
    </div>

  </div>
</div>

<app-footer></app-footer>