.name {
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
  color: #205493;
  align-self: center;
}

.container {
  // background-color: bisque;
  margin-top: 30px;
  width: 90%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 80px;
}

.portadaImg {
  width: 300px; /* width of container */
  height: 470px; /* height of container */
  object-fit: cover;
}

.tagImg {
  width: 30px;
  height: 30px;
  // position: absolute;
  // z-index: 5
  right: 0px;
  top: 5px;
  // left: -50px;
  // top: 80px;
}
