
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    color: #212121;
    // font-size:smaller;
}

.container{  
    // background-color: aqua;  
    margin-top: 50px;
    padding-bottom: 80px;
    margin-left: 15px;
    .tagscont{
        // margin-bottom: 10px
        .tagImg{
            display: flex;
            justify-content: center;
            width: 8%;
            height: 8%;
            margin-left: 5%;
            margin-top: 5px;
            cursor: pointer;
        }
    }
}

